.headerComp{
    /* border: 1px solid red; */
    padding: 20px 115px 20px 115px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerComp_logo{
    width: 20%;
    object-fit: contain;
    height: 3.5em;
}

.searchDiv{
    background-color: white;
    width: 40%;
    border-radius: 4px;
    /* height: 2.6em; */
    display: flex;
    padding: .2em;
    justify-content: space-between;

}

.searchDiv-input{
    border: none;
    padding: .2em .2em .2em .8em ;
    font-size: 1em;
    /* width: 7; */
    flex: 1;
}   

.searchDiv-input:hover,
.searchDiv-input:focus{
    outline: none;
}

.searchDiv-btn{
    padding: .8em 1.3em .8em 1.3em;
    border-radius: 4px;
    border: none;
    background-color: tomato;
    color: white;
}

.searchDiv-btn-ic{
    width: 1.3em;
    height: 1.3em;
    color: currentColor;
}

.accountDiv{
    position: relative;
    border: 1px solid white;
    /* height: 2.1em; */
    padding: .5em;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: all .5s;
    margin-right: 1em;
}

.accountDiv:hover{
    background-color: white;
    color: black;
}


.accountDiv-hov{
    position: absolute;
    bottom: -4.5rem;
    left: 0rem;
    /* width: 100%; */
    height: 4rem;
    background-color: white;
}

.accountDiv-hov-link{
    text-align: center;
    color: black;
    padding: .4rem;
}

.accountDiv-acc{
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
}

.accountDiv-txt{
    color: currentColor;
    font-weight: 700;
    margin: 0em .4em;
}

.accountDiv-down{
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
}

.cartDiv{
    padding: .5em;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: all .5s;
    border-radius: 4px;
}

.cartDiv:hover,
.cartDiv:focus{
    background-color: white;
    color: black;
}

.cartDiv-ic{
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    margin-right: .4em;
}

.cartDiv-txt{
    color: currentColor;
    font-weight: 700;
}


.underHeader{
    padding: 1em 115px 1em 115px;
    background-color: #a1a1a1;
    display: flex;
    justify-content: space-between;
}

.underHeader-link{
    font-weight: 700;
    display: flex;
    transition: all .5s;
    cursor: pointer;
}

.underHeader-link:hover{
    color: red;
}


@media screen and (max-width: 1115px) {

    .headerComp{
        /* border: 1px solid red; */
        padding: 1em 2em 1em 2em;
    }

    .searchDiv{
        width: 35%;
        padding: 0em;
    
    }
    
    .searchDiv-input{
        padding: .2em .2em .2em .6em ;
        font-size: .8em;
    }   
    
    .searchDiv-btn{
        padding: .7em;
    }

    .accountDiv-txt{
        display: none;
    }

    .cartDiv-txt{
        display: none;
    }

    .underHeader{
        padding: 1em 2em 1em 2em;
    }
    
    .underHeader-link{
        font-weight: 700;
        font-size: .9em;
    }
    
    .underHeader-link:hover{
        color: red;
    }

  }


@media screen and (max-width: 723px) {

    .headerComp{
        /* border: 1px solid red; */
        padding: 1em 2em 1em 2em;
    }

    .headerComp_logo{
        width: 15%;
        object-fit: contain;
        height: 3.5em;
    }

    .searchDiv{
        width: 35%;
        padding: 0em;
    
    }
    
    .searchDiv-input{
        padding: .2em .2em .2em .6em ;
        font-size: .8em;
    }   
    
    .searchDiv-btn{
        padding: .7em;
    }

    .accountDiv{
        padding: 0em;
        border: none;
    }

    .accountDiv-down{
        display: none;
    }
    
    .accountDiv-txt{
        display: none;
    }

    .cartDiv-txt{
        display: none;
    }

  }

@media screen and (max-width: 723px) {


    .headerComp_logo{
        width: 35%;
    }

    .searchDiv{
        display: none;
    }

}


  @media screen and (max-width: 500px) {


    .headerComp_logo{
        width: 50%;
    }

    .searchDiv{
        display: none;
    }

    .underHeader{
        padding: 1em 1em 1em 1em;
    }
    
    .underHeader-link{
        font-weight: 700;
        font-size: .5em;
    }
    
    .underHeader-link:hover{
        color: red;
    }
    
  }